/* ! General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  line-height: 1.6;
}

li {
  list-style-type: none;
  font-size: 1.2rem;
}

img {
  border: 5px solid rgb(227, 113, 113);
  border-radius: 50%;
  width: 75px;
  height: auto;
  object-fit: contain;
}

/* ! main container styles */

.container {
  height: 100%;
  border: 2px solid green;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: min-content min-content minmax(min-content, 1fr);
  background-color: #ededed;
}

/* ! header styles */

.header {
  border: 5px solid green;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  background-color: white;
}

.header > .top-header,
.header > .bottom-header {
  grid-column: 1 / -1;
  /* border: 2px solid orange; */
}

.header > .top-header,
.header > .bottom-header {
  /* border: 2px solid orange; */
  display: flex;
  justify-content: space-between;

  padding: 10px 60px;
}

.top-header img {
  width: 60px;
  height: 60px;
}

.left-links,
.right-links {
  width: 50%;
  /* border: 2px solid blue; */
}

.header-user {
  font-size: 1.2rem;
  font-weight: 600;
}

/* > left links */

.left-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.left-links input {
  width: 100%;
  height: 50%;
  border-radius: 15px;
  border: 2px solid #ccc;
  background-color: #ccc;
}

/* > right links */

.right-links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
}

/* > header icons */

.header-icons {
  font-size: 1.3rem;
}

/* ! bottom header */
.bottom-header .right-links > li {
  border: 2px solid #1b6b93;
  background-color: #1b6b93;
  color: white;
  font-weight: 500;
  border-radius: 20px;
  padding: 5px 15px;
  width: 100px;
  text-align: center;
}

.bottom-header .user {
  font-size: 1.3rem;
}

/* ! sidebar styles */

.title {
  display: flex;
  align-items: center;
  gap: 15px;
}

h1 {
  font-size: 1.8rem;
  font-weight: 800;
}

.logo {
  font-size: 1.8rem;
}

.sidebar {
  /* border: 2px solid blue; */
  grid-column: 1;
  grid-row: 1/5;

  /* border: 2px solid purple; */
  background-color: #1b6b93;
  color: white;
  padding: 10px 30px;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

.sidebar li {
  margin-bottom: 12px;
}

.sidebar-logos {
  display: inline-block;
  width: 30px;
  text-align: center;
  margin-right: 15px;
}

.sidebar p {
  display: inline;
  font-size: 1.2rem;
}

/* ! sub headings */

.sub-headings,
.content {
  /* border: 2px solid purple; */
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px 50px 0px 20px;

  /* background-color: #ededed; */
}

/* ! main content */

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 170px);
  gap: 30px;
  padding-right: 30px;
  align-content: space-between;
}

.card {
  /* border: 2px solid red; */
  padding: 20px;
  border-left: 10px solid orange;
  background-color: rgb(249, 249, 249);
  border-radius: 10px;
  height: 150px;

  position: relative;
}

.card .icons {
  display: flex;
  justify-content: space-evenly;

  position: absolute;
  width: 150px;
  right: 25px;
  bottom: 20px;
}

/* ! aside secondary content */

.secondary-content,
.top,
.trending-profiles {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

.top,
.trending-profiles {
  background-color: white;
  border-radius: 10px;
  gap: 20px;
  padding: 15px 30px;
}

.top {
  margin-bottom: 20px;
}

.profile {
  /* border: 2px solid red; */
  width: 60%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile img {
  width: 55px;
  height: 55px;
}
