/* ! General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  line-height: 1.6;
}

li {
  list-style-type: none;
}

img {
  border: 5px solid rgb(227, 113, 113);
  border-radius: 50%;
  width: 90px;
  height: auto;
  object-fit: contain;
}
