/* general settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Electrolize, sans-serif;
  background-color: #03001c;
  color: #b6eada;
}

.main-container {
  height: 100vh;
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}

/* section settings */
.top-section {
  height: 10%;
  margin-top: 30px;
  margin-bottom: 40px;
}

.mid-section {
  height: 30%;
  margin-bottom: 40px;
}

.last-section {
  border: 5px dashed #f4f4f4;
  height: 45%;
}

/* top section */
.title {
  font-size: 3rem;
  padding: 20px 10px;
  text-align: center;
}

/* mid section */
button {
  border: 5px dashed #f4f4f4;
  padding: 20px;
  background-color: #252525;
}

img {
  width: 200px;
  height: 200px;
}

.btn-container {
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* last section */
.display {
  height: 100%;
  font-size: 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

/* style selectors */
.center-text {
  text-align: center;
}

.mb-50 {
  margin-bottom: 50px;
}

.hidden {
  display: none;
}
