* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Electrolize, sans-serif;
}

.main-container {
  border: 2px solid red;
  height: 100vh;
  width: 60%;
  margin: 0 auto;
}

.title {
  border: 2px solid red;
  font-size: 2.5rem;
  padding: 20px 10px;
  text-align: center;
}

.top-section {
  border: 2px solid yellow;
  height: 10%;
}

.mid-section {
  border: 2px solid yellow;
  height: 30%;
}
.last-section {
  border: 2px solid yellow;
  height: 45%;
}

section {
  margin-bottom: 20px;
}

button {
  border: none;
  color: none;
}

img {
  width: 200px;
  height: 200px;
}
