:root {
  --clr-invalid: rgb(162, 0, 0);
  --clr-warning: rgb(162, 130, 0);
  --clr-valid: rgb(81, 162, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
}

.container {
  /* border: 2px solid red; */
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
}

/* * Login Form Styles */

.login__form {
  /* border: 2px solid green; */
}

.login__field {
  /* border: 2px solid green; */
  position: relative;
}

.login__field > input {
  border: 0;
  /* border: 2px solid red; */
  border-bottom: 2px solid rgb(111, 111, 111);
  display: block;
  width: 100%;
  padding: 2rem 0 0.2rem 0;
  font-size: inherit;
  position: relative;
  user-select: none;
}

.login__field > input:focus {
  outline: none;
  border-bottom: 2px solid rgb(183, 183, 183);
}

.login__field + .login__field {
  /* border: 2px solid yellow; */
  margin-top: 1rem;
}

.submit {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.75rem 2rem;
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
}

.submit:hover {
  opacity: 0.8;
}

/* * Password field */

.show-password {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

/* * Placeholders Spans */

.login__field > input::placeholder {
  color: transparent;
}

.placeholder {
  /* border: 2px solid red; */
  display: block;
  position: absolute;
  /* z-index: 1; */
  bottom: 0;
  padding: 0 0 0.2rem 0;
  pointer-events: none;
  transition: transform 100ms ease-in-out, font-size 100ms ease-in-out;
}

.login__field > input:focus ~ .placeholder {
  font-size: 1rem;
  transform: translateY(-35px);
}

.login__field > input:not(:placeholder-shown) ~ .placeholder {
  font-size: 1rem;
  transform: translateY(-35px);
}

/* * ERROR Spans */

.error {
  /* border: 2px solid orange; */
  display: flex;
  align-items: center;
  color: var(--clr-invalid);
  margin-bottom: 1rem;
  font-size: 1rem;
}

.error__msg::before {
  content: "\26AB\fe0e";
  font-size: 0.8rem;
  color: var(--clr-invalid);
}

/* * LIVE Validation  */

input:not(:placeholder-shown):invalid {
  border-color: var(--clr-invalid);
}

input:not(:placeholder-shown):valid {
  border-color: var(--clr-valid);
}

input:not(:placeholder-shown):focus:invalid {
  border-color: var(--clr-warning);
}

/* * Utility Classes */

.valid {
  color: var(--clr-valid);
}

.warning {
  color: var(--clr-warning);
}

.invalid {
  color: var(--clr-invalid);
}

.hidden {
  display: none;
}
