html {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-size: 1.4rem;
}

button {
  cursor: pointer;
}

#app-container {
  /* border: 2px solid red; */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.middle {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* header */
header {
  /* border: 2px solid red; */
}

.title.main,
footer {
  text-align: center;
  padding: 2rem;
}

/* menu */
#app-content {
  border: 3px solid black;
  border-radius: 1rem;
  width: 450px;
  height: 270px;
  margin: 5rem auto;
  padding: 6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#app-content[open] {
  animation: fade-in 1000ms forwards;
}

#app-content[closing] {
  animation: fade-out 500ms forwards;
}

.players {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.option,
.close {
  padding: 2rem;
  background-color: transparent;
}

#p1,
#p2 {
  position: relative;
}

#p2 {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#vs {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1.3px;
  position: absolute;
  left: 21rem;
}

#set-difficulty {
  /* border: 2px solid red; */
  height: 59.33px;
  position: absolute;
  right: -25px;
  top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.difficulty {
  width: 15px;
  height: 15px;
  border: none;
}

button.difficulty:nth-of-type(1):hover,
button.difficulty:nth-of-type(1).select {
  background-color: hsl(81, 84%, 81%);
}

button.difficulty:nth-of-type(2):hover,
button.difficulty:nth-of-type(2).select {
  background-color: hsl(46, 100%, 50%);
}

button.difficulty:nth-of-type(3):hover,
button.difficulty:nth-of-type(3).select {
  background-color: hsl(343, 100%, 39%);
}

.start {
  position: absolute;
  top: 21.3rem;
  right: 4.5rem;
  padding: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
  background-color: orange;
  border: none;
}

.start:hover {
  background-color: rgb(254, 177, 34);
}

/* player forms */
input[class="player-name"] {
  width: 13ch;
  padding: 0.6rem 0.9rem;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}

.form {
  border: 2px solid black;
  padding: 1.5rem;
  width: 16rem;
}

#p1 .form {
  position: absolute;
  top: -7.5rem;
  left: -3rem;
}

#p2 .form {
  position: absolute;
  top: -7.5rem;
  right: -3rem;
}

#p2 .form .close {
  /* border: 2px solid red; */
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1rem 0.4rem;
  border-right: none;
  border-top: none;
}

.form h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form .group {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.markers button {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid #666;
  /* border: 2px solid blue; */
}

.save-btn {
}

/* footer */
footer {
  /* border: 2px solid brown; */
}

/* ? GAME PAGE */
#app-content[game] {
  /* border: 2px solid green; */
  padding: 0;
}

#app-content[game] > #game-header {
  border-bottom: 2px solid orange;
  position: absolute;
  top: -65px;
  width: 445px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  letter-spacing: 1.5px;
}

#game-header #left-items {
  /* border: 2px solid blue; */
}

#game-header #right-items {
  /* border: 2px solid magenta; */
}

/* * game page header */
#p1-info,
#p2-info {
  /* border: 2px solid purple; */
  display: grid;
  grid-template-columns: 1fr 1rem 1rem 1rem;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

#p1-info > span:first-child,
#p2-info > span:first-child {
  justify-self: end;
}

span#p1-marker,
span#p2-marker {
  font-size: 16px;
}

/* * gameboard */
#app-content[game] > #app-gameboard {
  width: 70%;
  height: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* * modal */
.modal {
  /* border: 5px solid orange; */
  border-radius: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 500;
}

.blur {
  border-radius: 2rem;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(3px);
  z-index: 1;
}

/* * action classes */
.selected {
  background-color: orange !important;
}

.hover:hover {
  background-color: #f3f3f3;
}

.hidden {
  display: none !important;
}

.saved {
  content: "saved";
  background: linear-gradient(orange, rgb(255, 153, 0));
  border: 2px solid orange !important;
  border-radius: 10px;
}

.reveal {
  animation: fade-in 500ms forwards;
}

.fade-out {
  animation: fade-out 500ms forwards;
}

.slide-down {
  animation: slide-down 1000ms forwards;
}

.square {
  width: 104px;
  height: 71px;
  border: 2px solid rgb(255, 165, 0);
  cursor: pointer;
}

.square.marker {
  display: flex;
  align-items: top;
  justify-content: center;
  font-size: 4rem;
  cursor: default;
}

.highlight:hover {
  background-color: rgba(255, 228, 179, 0.2);
  box-shadow: 0 0 5px 2px rgba(255, 165, 0, 0.2);
}

/* animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.disable-squares {
  pointer-events: none;
}

/* design the gameboard */
.square:first-of-type {
  border-top: none;
  border-left: none;
}

.square:nth-of-type(2) {
  border-top: none;
}

.square:nth-of-type(3) {
  border-top: none;
  border-right: none;
}

.square:nth-of-type(4) {
  border-left: none;
}

.square:nth-of-type(6) {
  border-right: none;
}

.square:nth-of-type(7) {
  border-left: none;
  border-bottom: none;
}

.square:nth-of-type(8) {
  border-bottom: none;
}

.square:nth-of-type(9) {
  border-right: none;
  border-bottom: none;
}
