@font-face {
  font-family: "biteChocolate";
  src: url("./bitechocolate.woff") format("woff"),
    url("./bitechocolate.woff2") format("woff2");
}

html {
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#container {
  background-image: url("./deserts-blured.jpg");
  background-size: cover;
  min-height: 100vh;
  max-width: 40vw;
  margin: 0 auto;
  position: relative;
}

header,
main,
footer {
  color: white;
  padding: 20px;
}

header,
footer {
  background-color: rgba(0, 0, 0, 0.7);
}

header {
  font-size: 2rem;
  height: 25vh;
}

header > * {
  height: 50%;
}

#title,
#quote {
  font-family: "biteChocolate";
}

#title {
  font-size: 3rem;
  text-align: center;
  margin-top: 4px;
}

#nav {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

li {
  list-style-type: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s;
}

li:hover {
  font-size: 2.3rem;
  transition: all 0.1s;
}

main {
  /* border: 2px solid orange; */
  min-height: 70vh;
}

#quote {
  background-color: rgba(0, 0, 0, 0.5);
  color: #d4b680;
  font-size: 3rem;
  text-align: center;
}

/* - menu page */
.menu-item {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  /* border: 2px solid red; */
  width: 150px;
  padding: 5px;
}

.menu-item img {
  width: 100%;
  height: 100%;
  border: 3px solid #d4b680;
  border-radius: 10px;
  object-fit: fill;
}

.item-name {
  font-size: 1.8rem;
}

.item-price {
  font-size: 1.5rem;
}

.credits {
  font-size: 0.7rem;
  font-weight: 300;
}

/* - contact page */
.contact-item {
  font-size: 1.7rem;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
}

.contact-item > *:not(img) {
  width: max-content;
  margin-bottom: 3px;
}

.contact-item img {
  max-width: 30vw;
  margin-top: 5px;
}

.contact-item > p:last-of-type::before {
  content: "\260F";
  color: #f70a8d;
}

.contact-item > p:first-of-type::before {
  content: "\1f4cd";
}

.contact-item > p:first-of-type::before,
.contact-item > p:last-of-type::before {
  display: inline-block;
  width: 30px;
  text-align: center;
  font-size: 1.8rem;
}

.contact-item > p {
  vertical-align: middle;
}

/* footer */
footer {
  flex-direction: column;
  /* padding: 50px; */
  width: 100%;
  height: 5vh;
  font-size: 1.3rem;
  position: absolute;
  bottom: 0;
}

/* action classes */
.flex-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  justify-items: center;
}
