html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "title";
  src: url("./fonts/bitechocolate.woff"), url("./fonts/bitechocolate.woff2");
}

body {
  /* border: 2px solid blue; */
  min-height: 100svh;
  font-size: 1.5rem;
  font-family: "title", system-ui, sans-serif;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style-type: none;
}

h1 {
  font-size: clamp(2.5rem, 2vw + 1rem, 3rem);
  /* font-family: "title"; */
}

.container {
  /* border: 2px solid purple; */
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
  /* padding: 1rem 0; */
}

/* header nav */

.header {
  background-color: #e7e0ce;
  padding: 5px 0;
}

.logo {
  width: 100px;
  height: 100px;
}

.nav {
  gap: 2rem;
  align-items: center;
}

.nav > a {
  color: #000;
  text-decoration: none;
}

a:hover,
a:focus {
  opacity: 70%;
}

/* *hero */

.main {
}

.hero {
  /* border: 2px solid red; */
  min-height: 90svh;
}

.hero__text {
  /* border: 2px solid purple; */
  width: max-content;
  align-self: center;
  margin-left: auto;
  margin-right: 2rem;
}

.background {
  /* outline: 2px solid red; */
  background-image: url("./images/cafe-medium.jpg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: left center;
}

@media (height < 700px) {
  body {
    font-size: 1.2rem;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .header {
    padding: 5px 0;
  }

  .nav {
    line-height: 0;
  }

  .background {
    background-size: 55% 85%;
    background-position: 35% center;
  }
}

@media (600px < width < 1060px) {
  .container {
    width: 80%;
  }

  .background {
    background-size: 548px;
    background-position: center center;
  }

  .hero__text {
    /* border: 2px solid red; */
    align-self: flex-start;
    margin: 3rem auto;
  }
}

@media (width < 600px) {
  .hero__text {
    /* border: 2px solid red; */
    align-self: flex-start;
    margin: 3rem auto;
  }

  .container {
    width: 95%;
  }
  .background {
    background-size: 90%;
    background-position: center center;
  }
}

/* * utility classes */

.row {
  display: flex;
  justify-content: space-between;
}
