/* general settings */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

h1,
h2 {
  margin-bottom: 15px;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px solid #3882f6;
}

.container {
  border: 2px solid red;
  width: 70%;
  margin: 0 auto;
  padding: 0 30px;
}

/* header section */

.header-section {
  background-color: #1f2937;
  color: #f9faf8;
}

/* nav */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar ul {
  list-style-type: none;

  display: flex;
  gap: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #e5e7eb;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

/* header */
.header {
  min-height: 500px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text-content {
  flex: 1;
  margin-right: 50px;
}

.header img {
  flex: 1;
}

.text-content h1 {
  font-size: 48px;
  font-weight: extra-bold;
}

.text-content p {
  font-size: 20px;
  color: #e5e7eb;
  margin-bottom: 15px;
}
