* {
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #191b1c;
  color: rgb(224, 224, 224);
  letter-spacing: 0.1rem;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #3e3e3e;
  border: 5px solid #f5f5f5;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transform-2d {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.rotate {
  /* transform: rotate(45deg); */
  /* transform: rotate(-1rad); */
  transform: rotate(0.75turn);
}

.scale {
  /* transform: scaleX(0.25); */
  /* transform: scaleY(1.5); */
  /* transform: scale(0.25, 1.5); */
  transform: scale(0.5);
}

.skew {
  /* transform: skewY(0.5rad); */
  /* transform: skew(45deg, 0.5rad); */
  transform: skew(45deg);
}

.translate {
  /* transform: translateX(20px); */
  /* transform: translateY(-33%); */
  transform: translate(20px, -33%);
}
