/* general settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: #cacaca;
}

.main-container {
  border: 2px solid red;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}

section {
  border: 2px solid yellow;
}

.header-section,
.footer-section {
  height: 10%;
}

/* header section */

/* body section */
.body-section {
  height: 80%;
}

.sketchpad-container {
  border: 2px solid red;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.canvas {
  border: 2px solid blue;
  height: 70%;
  width: 50%;
  margin: 0 auto;
}

/* footer section */

/* style classes */
.box {
  border: 2px solid red;
  height: 10px;
  width: 10px;
}

.box-border {
  border: 1px solid salmon;
}

.flex {
  display: flex;
}

.inflexible {
  flex: none;
}
