/* general settings */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  border: 2px solid blue;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 1.125rem;

  display: flex;
  flex-direction: column;
}

/* main object settings */
.main {
  border: 2px solid orange;
  flex: 1;

  display: flex;
  align-items: center;
  margin: 0 auto;
}

.calculator {
  background-color: #202020;
  border-color: #202020;
  border-radius: 10px;
  max-width: 19rem;
  height: 50%;
}

.display {
  border: 2px solid yellow;
  height: 25%;
  padding: 15px;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.dis-container {
  border: 2px solid blue;
}

.buttons {
  height: 75%;

  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

button {
  font-size: 1.5rem;
  width: 75.2px;
  border-radius: 10px;
  background-color: #3b3b3b;
  border-color: #3b3b3b;
  color: #ffffff;
}

button#equal {
  background-color: #b30003;
  border-color: #b30003;
  width: 151px;
}

button#clear,
button#delete {
  width: 113px;
}

button:hover {
  background-color: #484848;
  border-color: #484848;
}

button#equal:hover {
  background-color: rgba(179, 0, 3, 0.7);
  border-color: rgba(179, 0, 3, 0.7);
}
