/* general settings */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  border: 2px solid blue;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;

  display: flex;
  flex-direction: column;
}

/* main object settings */
.main {
  border: 2px solid orange;
  flex: 1;

  margin: 0 auto;
}

.calculator {
  border: 2px solid red;
  max-width: 19rem;
  height: 50%;
}

.display {
  border: 2px solid blue;
  height: 25%;
}

.buttons {
  border: 2px solid purple;
  height: 75%;

  display: flex;
  flex-wrap: wrap;
}

button {
  width: 74px;
}

button#equal {
  width: 148px;
}

button#clear,
button#delete {
  width: 111px;
}
