@font-face {
  font-family: "title-font";
  src: url("./assets/the_rabbit-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "text-font";
  src: url("./assets/starlight_demo-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* general settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 500px;
}

/* main container */

main {
  border: 2px solid red;
  margin: 0 auto;
  width: min(80ch, 80vw - 2rem);
  height: 60%;
}

/* image-title container */

.img-title {
  border: 2px solid orange;
  position: relative;
  font-family: title-font;
  font-size: 2rem;
  letter-spacing: 8px;
}

.title {
  position: absolute;
  top: 0px;
  left: 0;
  text-align: center;

  line-height: 1;
  width: 100%;

  color: white;
  background-color: rgba(240, 128, 128, 0.4);
}

.form-container {
  border: 2px solid rebeccapurple;
}

/* text-container */

.hero-text,
legend {
  font-family: text-font;
  font-size: 1.4rem;
  letter-spacing: 3px;
  padding: 8px;
}

.hero-text strong {
  color: orangered;
}

/* form container */
fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0 100px;
}

legend {
  text-align: center;
}

input {
  display: block;
  width: 100%;
}
