@font-face {
  font-family: "title-font";
  src: url("./assets/the_rabbit-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "text-font";
  src: url("./assets/starlight_demo-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* general settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;

  display: flex;
  align-items: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 500px;
}

/* main container */

main {
  margin: 0 auto;
  width: min(80ch, 80vw - 2rem);
  height: 90%;
}

.top-section {
  padding: 8px;
  border: 2px solid rgb(255, 184, 122);
  border-radius: 10px 10px 0 0;
}

.bottom-section {
  padding: 8px;
  border: 2px solid rgb(255, 184, 122);
  border-radius: 0px 0px 10px 10px;
}

/* image-title container */

.img-title {
  /* border: 2px solid orange; */
  position: relative;
  font-family: title-font;
  font-size: 2rem;
  letter-spacing: 8px;
}

.title {
  position: absolute;
  top: 0px;
  left: 0;
  text-align: center;

  line-height: 1;
  width: 100%;

  color: white;
  background-color: rgba(240, 128, 128, 0.4);
}

.credits {
  font-size: 0.85rem;
  letter-spacing: 2px;

  position: absolute;
  bottom: -2px;
  right: 5px;
}

/* text-container */

.hero-text,
footer a,
footer {
  font-family: text-font;
  font-size: 1.4rem;
  letter-spacing: 3px;
  padding: 8px;
}

.hero-text strong {
  color: orangered;
}

/* form container */
fieldset {
  border: 5px solid rebeccapurple;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0 100px;

  margin-bottom: 30px;
}

legend {
  text-align: center;
  color: rebeccapurple;
  padding: 8px;
  font-size: 2rem;
}

label,
legend,
button[type="submit"] {
  font-family: title-font;
  font-weight: 700;
  letter-spacing: 2px;
}

label {
  font-size: 1.6rem;
  color: #444;
}

label:last-of-type {
  margin-bottom: 20px;
}

input {
  appearance: none;

  display: block;
  width: 100%;
  height: 30px;

  border: 1px solid #aaa;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: 2px solid orange;
}

input:valid:not(:optional) {
  outline: none;
  border: 2px solid rgb(163, 163, 111);
  background-color: rgb(235, 235, 173);
}

button[type="submit"] {
  padding: 10px 30px;
  background-color: rgb(255, 108, 55);
  border: 2px solid rgb(255, 108, 55);
  border-radius: 10px;

  font-size: 1.5rem;
  color: white;

  display: block;
  margin: 0 auto;
}

footer {
  margin-top: 10px;
  text-align: center;
  color: #444;
}

footer a {
  text-decoration: none;
  color: rgb(255, 108, 55);
}

footer a:hover {
  text-decoration: underline;
}
